---
---

@charset "utf-8";

// Override some variables
$base-font-family: "Helvetica Neue", Helvetica, sans-serif;

@import "minima";

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin: 0 auto;
  float: left;
	width: 100%;
	text-align: center;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

ul {
	list-style-type: square;
}


#below-top {
	clear: both;
	border-top: 0; 
	border-left: 0; 
	border-right:0; 
	border-bottom: 1px solid #dddddd; 
	padding-top: 30px;
}


