---
layout: default
---

<div class="home">

	<img src="images/professional_profile_pic_167x200.jpg" alt="profile_pic" style="float:left; width:167px; padding-right:23px" /> 
	<div style="float:left; width:540px; height:200px">

		<p>I’m a PhD candidate in the <a href="https://lti.cs.cmu.edu/" target="_blank">Language Technologies Institute</a> at <br> Carnegie Mellon University’s School of Computer Science, advised by <a href="http://www.cs.cmu.edu/~cprose/" target="_blank">Carolyn Penstein Rosé</a>. In the summer of 2019, I was an intern with Yahoo Research/Tumblr, advised by <a href="http://www.cs.columbia.edu/~kapil/">Kapil Thadani</a>.</p>

		<p>I study social factors in language using natural language processing, machine learning, and other computational approaches. My dissertation work investigates how people use language to position their own identies and those of others in social media and online narrative.</p>


	</div>

	<!--<hr id="below-top">-->

	<div style="padding-top: 30px; clear:both">

  {{ content }}

	</div>

</div>
