---
layout: default
---

<div class="home">

	<img src="/images/professional_profile_pic_167x200.jpg" alt="profile_pic" style="float:left; width:167px; padding-right:10px" /> 
	<div style="float:left; width:500px">Hello! I’m a PhD student in the <a href="https://lti.cs.cmu.edu/" target="_blank">Language Technologies Institute</a> at Carnegie Mellon University’s School of Computer Science, working with <a href="http://www.cs.cmu.edu/~cprose/" target="_blank">Carolyn Rosé</a>.</div>

  {{ content }}

</div>
