---
layout: default
---

<div class="home">

	<img src="/images/professional_profile_pic_167x200.jpg" alt="profile_pic" style="float:left; width:167px; padding-right:10px" /> 
	<div style="float:left; width:500px; height:200px">

		<p>Hello! I’m a PhD student in the <a href="https://lti.cs.cmu.edu/" target="_blank">Language Technologies Institute</a> at Carnegie Mellon University’s School of Computer Science, working with <a href="http://www.cs.cmu.edu/~cprose/" target="_blank">Carolyn Penstein Rosé</a>.</p>

		<p>I study the attachment of social meaning to language, using computational approaches.
			My research draws on computational linguistics, sociolinguistics and discourse analysis.
		</p>

	</div>

	<div style="padding-top: 30px; clear:both">

  {{ content }}

	</div>

</div>
